<footer class="bg-gradient-to-r from-[#111] via-slate-900 to-[#111] pt-14 pb-6 px-12 tracking-wide">
      <div class="max-w-2xl mx-auto text-center">
      <div class="flex items-center justify-center cursor-pointer" routerLink="/" >
  <h1 class="text-[30px] leading-none font-extrabold 
bg-gradient-to-r from-blue-500 via-green-400 to-teal-400 
text-transparent bg-clip-text tracking-wide">
    <span class="text-purple-700">MRT</span>
    <span class="text-white">care</span>
    <span class="text-green-500">Plus</span>
  </h1>
</div>
        <p class="text-sm mt-6 text-slate-300 leading-relaxed">Experience a wide range of rehab and healthcare products in-store for independent living.</p>

        <ul class="flex flex-wrap justify-center gap-6 mt-8">
          <li>
            <a href='javascript:void(0)'>
            <i class="fa-brands fa-facebook text-xl text-white"></i>
            </a>
          </li>
          <li>
            <a href='javascript:void(0)'>
              <i class="fa-brands fa-instagram text-xl text-white"></i>
            </a>
          </li>
          <li>
            <a href='javascript:void(0)'>
            <i class="fa-brands fa-whatsapp text-xl text-white"></i>
            </a>
          </li>
        </ul>
      </div>

      <ul class="grid justify-center max-sm:grid-cols-1 max-lg:grid-cols-2 lg:grid-cols-5 gap-12 mt-20">
        <li></li>
        <li class="flex items-center">
          <div class="bg-gray-300 h-10 w-10 rounded-full flex items-center justify-center shrink-0">
              <i class="fa-solid fa-phone text-xl"></i>
          </div>
          <a href="javascript:void(0)" class="text-slate-300 text-sm ml-3">
            <small class="block">Tel</small>
            <span class="font-medium">+91 7010486704</span>
          </a>
        </li>
        <li class="flex items-center">
          <div class="bg-gray-300 h-10 w-10 rounded-full flex items-center justify-center shrink-0">
            <i class="fa-solid fa-envelope text-xl"></i>
          </div>
          <a href="javascript:void(0)" class="text-slate-300 text-sm ml-3">
            <small class="block">Mail</small>
            <span class="font-medium">mrtcareplus@gmail.com</span>
          </a>
        </li>
        <li class="flex items-center">
          <div class="bg-gray-300 h-10 w-10 rounded-full flex items-center justify-center shrink-0">
            <i class="fa-solid fa-location-dot text-xl"></i>
          </div>
          <a href="javascript:void(0)" class="text-slate-300 text-sm ml-3">
            <small class="block">Address</small>
            <span class="font-medium">West Tambaram, Chennai-45.</span>
          </a>
        </li>
      </ul>

      <hr class="mt-14 mb-6 border-gray-600" />

      <div class="flex max-md:flex-col max-md:text-center gap-4">
        <ul class="flex flex-wrap gap-4 max-md:justify-center">
          <li class="text-sm">
            <a href='javascript:void(0)' class="text-slate-300 font-medium hover:underline">Terms of Service</a>
          </li>
          <li class="text-sm">
            <a href='javascript:void(0)' class="text-slate-300 font-medium hover:underline">Privacy Policy</a>
          </li>
          <li class="text-sm">
            <a href='javascript:void(0)' class="text-slate-300 font-medium hover:underline">Security</a>
          </li>
        </ul>
        <p class="text-sm text-slate-300 md:ml-auto">© mrtcareplus. All rights reserved.</p>
      </div>
    </footer>