<div class="p-4 bg-gray-100">
  <div class="lg:max-w-6xl max-w-xl mx-auto">
    <div class="grid items-start grid-cols-1 lg:grid-cols-2 gap-8 max-lg:gap-12 max-sm:gap-8">
      @if (product()) {
      <div class="w-full lg:sticky top-0">
        <div class="flex flex-col gap-4">
          <div class="bg-white shadow-sm p-2">
            <img [src]="'http://localhost:3000' + product()?.imageUrl" alt="Product"
              class="w-full  aspect-[11/8] object-cover object-top" />
          </div>
        </div>
      </div>

      <div class="w-full">
        <div>
          <h3 class="text-lg sm:text-xl font-semibold text-slate-900">{{product()?.name}}</h3>

          <div class="mt-4">
            <p class="text-slate-500 mt-1 text-sm">{{product()?.description}}</p>
          </div>
          @if (product()?.category) {
          <div class="mt-4">
            <p class="text-slate-500 mt-1 text-sm">Category: {{product()?.category}}</p>
          </div>
          }
          <div class="flex items-center flex-wrap gap-2 mt-6">
            <p class="text-slate-500 text-base"></p>
            <h4 class="text-purple-800 text-2xl sm:text-3xl font-semibold">{{product()?.price| currency:"INR"}}</h4>
            <div class="flex py-1 px-2 bg-purple-600 font-semibold !ml-4">
              <span class="text-white text-sm">save 10%</span>
            </div>
          </div>
        </div>

        <hr class="my-6 border-gray-300" />

        <div>
          <div class="flex gap-4 items-center border border-gray-300 bg-white px-4 py-2.5 w-max">
            <button type="button" class="border-0 outline-0 cursor-pointer text-base" (click)="decrement()">
              <span class="material-icons !text-base">remove</span>

            </button>
            @if (product()?.stock! !== 0) {
            <span class="text-slate-900 text-sm font-semibold px-6 block">{{count()}}</span>
            }
             @if (product()?.stock! === 0) {
            <span class="text-slate-900 text-sm font-semibold px-6 block">0</span>
            }
            <button type="button" class="border-0 outline-0 cursor-pointer" (click)="increment()">
              <span class="material-icons !text-base">add</span>

            </button>
          </div>

          <div class="mt-4 flex flex-wrap gap-4">
            <button type="button" [disabled]="product()?.stock === 0" (click)="addTocart()"
              class="px-4 py-3 w-[45%] cursor-pointer border border-gray-300 bg-white hover:bg-slate-50 text-slate-900 text-sm font-medium"
              [ngClass]="product()?.stock===0 ? 'bg-gray-400 !cursor-not-allowed':'bg-purple-700 hover:bg-purple-800'">Add
              to cart</button>
            <button type="button" routerLink="/checkout"
              class="px-4 py-3 w-[45%] cursor-pointer border border-purple-600 bg-purple-600 hover:bg-purple-700 text-white text-sm font-medium disabled:bg-gray-400 disabled:cursor-not-allowed"
              [disabled]="cartservice.cartCount() <= 0">Buy
              it now</button>;
          </div>
        </div>
        <hr class="my-6 border-gray-300" />
        <div class="flex justify-between gap-4 mt-8">
          <div class="text-center text-purple-600 inline">
            <mat-icon>currency_rupee</mat-icon>
            <p class="text-slate-500 text-xs sm:text-sm mt-3">COD available</p>
          </div>

          <div class="text-center">
            <div class="text-center text-purple-600 inline">
              <mat-icon>local_shipping</mat-icon>
            </div>
            <p class="text-slate-500 text-xs sm:text-sm mt-3">Free Delivery On Orders Above {{10000 | currency:"INR"}}
            </p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>